@media screen and (min-width:601px) {
    .card{
        display: none;
    }
    .text-card{
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .imgcard{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imgCardimg{
        height: 40vh;
    }
}
@media  screen and (max-width:600px) {
    .imgcard{
        display: none;

    }
    .card{
        
        justify-content: center;
        align-items: center;
        background-color: white;
    }
    .text-card{
        padding: 30px;
    }
}





.head{

    text-align: center;
    color:#3A643B;
}
.ayur-card{
    overflow: hidden;
}